<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/lista.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    

    <title>Listas Categorias de Receitas</title>
</head>
<body>

    <%- include("./partials/header")  %>

    <main>
        <section>
            <!-- <div class="img-text">
                O título precisa ser dinâmico, ou seja, vai receber o valor do card que foi clicado na pagina anterior
                <h1>Top Ingredientes</h1>
            </div> -->
            <% listas.map(function lista(lista) { %>
                
                <div class="nomeCategoria">
                    <h1 class="titulo" ><%=lista.nome%> </h1>
                    <input type="button" onclick="funcaoMostrar(this, '<%=lista.nome%>')" value="Mostrar">
                </div>
                <div class="ordena-cards">
                    
                    <div class="hidden" id="<%=lista.nome%>">
                        <div class="card">
                            <!-- <a href="#" class="card"> -->
                                <% lista.receitas.map(function (receita ){ %>
                                    <a class="ingred" href="/receita"><h3 class="h3"><%=receita.nome%> </h3> </a>
                                    <h4 class="h4">Ingredientes</h4>
                                            <% receita.ingredientes.map(function ( ingrediente ){ %>
                                                <p> <%= ingrediente.nome %> </p>
                                            <% }); %> 

                                <% }); %> 
                        
                        </div>
                    </div>
                </div>
        
                <% }); %>
        
        </section> 

    </main>
     
    <%- include("./partials/footer")  %>

</body>
<script src="/scripts/categorias-receitas.js"></script>
</html>