<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/receita.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/caba1438d9.js" crossorigin="anonymous"></script>

</head>

<body class="content"> 

    <%- include("./partials/header")  %>

<!-- INFO DA RECEITA -->
    <section>
            <div class="title">
                <h2> <%= receita.nomeReceita %> </h2>
            </div>
            
        <div class="receita">    
            <div class="imagem_destaque">
                <img width="100%" height="100%" src="/uploads/<%= receita.fotoReceita %>" >
            </div>

            <div class="prepare_info">
                <h2><i class="far fa-clock"></i> Tempo de Preparo </h2>
                <p> <%= receita.tempoPreparo %>  </p>
                <h2><i class="fas fa-utensils"></i> Rendimento </h2>
                <p> <%= receita.porcoes %> </p>

                <div class="interacao">
                    <ul>
                        <li><a href="#"> Compartilhar receita </a></li>                  
                        
                    </ul>     
                </div>
            </div>
        </div>

    </section>

<!-- INGREDIENTES -->
    <section>
        <div>
            <div class="title">
                <h2> Ingredientes </h2>
            </div>

            <div class="ingredientes">
                <ul>
                    <% receita.ingredientes.forEach(ingrediente => { %>
                        <li><%= ingrediente %> </li>
                      <% }) %>                   
                </ul>
                
            </div>

        </div>
    </section>

<!-- MODO DE PREPARO -->
    <section> 
        <div class="title">
            <h2> Modo de preparo </h2>
            
        </div>
        <div class="prepare_mod">
            <div class="imagem_destaque">
                <img src="/images/destaque2.jpg" width="100%" height="100%" >
            </div>
    
            <div class="prepare">
                <p><%= receita.modoDePreparo %></p>
            </div>
        </div>
    </section>   

<!-- CONFIRA TAMBÉM --> 
    <section>
        <div class="confira_tmb">
            <div>
                <h2> Confira também</h2>
            </div>
        <div class="confira">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>                    
            </ul>      

        </div>      
        </div>
    </section>

<!-- CAIXA DE COMENTÁRIO -->
    <section>
        <div class="title" > 
            <h2> Deixe seu comentário </h2>
        </div>

        <div class="comentar">
            <textarea id="comentar" name="comentar" rows="4" cols="50" placeholder="Conte-nos o que achou da receita!"></textarea>
            <div> 
                <input type="submit" name="comentar"> 
            </div>
            
        </div>   
    </section>
</body>

<footer class="footer">
    <%- include("./partials/footer")  %> 
</footer>
</html>