<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/receita.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/caba1438d9.js" crossorigin="anonymous"></script>
    

</head>

<body class="content"> 

    <%- include("./partials/header")  %>

<!-- INFO DA RECEITA -->
    <section>
            <div class="title">
                <h2> <%= receita && receita.nomeReceita %> </h2>
            </div>
            
        <div class="receita">    
            <div class="imagem_destaque">
                <img width="100%" height="100%" src="/uploads/<%= receita && receita.fotoReceita %>" >
            </div>

            <div class="prepare_info">
                <h2></i> Tempo de Preparo </h2>
                <p><%= receita && receita.tempoPreparo %></p>
                <h2></i> Rendimento </h2>
                <p> <%= receita && receita.porcoes %> </p>

                <div class="interacao">
                         <div class="w3-container">
                        <button onclick="document.getElementById('id01').style.display='block'" class="botao">Compartilhar</button>
                      
                        <div id="id01" class="w3-modal">
                          <div class="w3-modal-content">
                            <div class="w3-container">
                              <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                              <p><h1><mark><%=receita && receita.nomeReceita%></mark></h1></p>
                              <ul>
                                  <h1>Ingredientes:</h1>
                                <% receita && receita.ingredientes.forEach(ingrediente => { %>
                                    <li><%= ingrediente %> </li><br>
                                  <% }) %><br>
                                <p><h1>Modo de preparo:</h1><%= receita && receita.modoDePreparo %></p>
                                <p><h1>Tempo de preparo:</h1><%= receita && receita.tempoPreparo %></p>
                                <p><h1>Rendimento:</h1><%= receita && receita.porcoes %></p>     
                            </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                    <a href="/receita/editar/<%= receita && receita.id %> " button type="button" class="botao">Editar</button></a> 

                    <form method="POST" action="/receita/<%= receita && receita.id %>?_method=DELETE">
                        <button class="botao" type="submit">Apagar</button>
                    </form>
                </div>
                
            </div>
        </div>

    </section>

<!-- INGREDIENTES -->
    <section>
        <div>
            <div class="title">
                <h2> Ingredientes </h2>
            </div>

            <div class="ingredientes">
                <ul>
                    <% receita && receita.ingredientes.forEach(ingrediente => { %>
                        <li><%= ingrediente %> </li>
                      <% }) %>                   
                </ul>
                
            </div>

        </div>
    </section>

<!-- MODO DE PREPARO -->
    <section> 
        <div class="title">
            <h2> Modo de preparo </h2>
            
        </div>
        <div class="prepare_mod">
            <div class="imagem_destaque">
                <img src="/images/destaque2.jpg" width="100%" height="100%" >
            </div>
    
            <div class="prepare">
                <p><%= receita && receita.modoDePreparo %></p>
            </div>
        </div>
    </section>   

<!-- CONFIRA TAMBÉM --> 
    <section>
        <div class="confira_tmb">
            <div>
                <h2> Confira também</h2>
            </div>
        <div class="confira">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>                    
            </ul>      

        </div>      
        </div>
    </section>
    </div>
  </div>
</div>

</body>

<footer class="footer">
    <%- include("./partials/footer")  %> 
</footer>
</html>