<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/receita.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/caba1438d9.js" crossorigin="anonymous"></script>


</head>

<body class="content">

    <%- include("./partials/header") %>

        <!-- INFO DA RECEITA -->
        <section>
            <div class="title">
                <h2>
                    <%= receita && receita.nome %>    
                </h2>
            </div>

            <div class="receita">
                <div>
                    <img src="/uploads/<%= receita && receita.foto_receita %>">
                </div>

                <div class="prepare_info">
                    <h2></i> Tempo de Preparo </h2>
                    <p>
                        <%= receita && receita.tempo_preparo %>
                    </p>
                    <h2></i> Rendimento </h2>
                    <p>
                        <%= receita && receita.rendimento %>
                    </p>

                    <div class="interacao">
                        <div class="w3-container">
                            <button onclick="document.getElementById('id01').style.display='block'"
                                class="botao">Compartilhar</button>

                            <div id="id01" class="w3-modal">
                                <div class="w3-modal-content">
                                    <div class="w3-container">
                                        <span onclick="document.getElementById('id01').style.display='none'"
                                            class="w3-button w3-display-topright">&times;</span>                                      
                                        <h1>
                                            <%=receita && receita.nome%>
                                        </h1>
                                        <h1>Ingredientes</h1>
                                        <ul>                                         
                                            <% receita && receita.ingredientes.forEach(ingrediente=> { %>
                                                <li>
                                                    <%= ingrediente.nome %><br>
                                                </li>
                                                <% }) %>
                                            </ul>
                                                    
                                            <h1>Modo de preparo</h1>
                                            <p>
                                                <%= receita && receita.modo_preparo %>
                                            </p>
                                                        
                                            <h1>Tempo de preparo</h1>
                                            <p>
                                                <%= receita && receita.tempo_preparo %>
                                            </p>
                                                            
                                            <h1>Rendimento</h1>
                                            <p>
                                                <%= receita && receita.rendimento %>
                                            </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a href="/receita/editar/<%= receita && receita.id %> " button type="button"
                            class="botao">Editar</button></a>

                        <form method="POST" action="/receita/<%= receita && receita.id %>?_method=DELETE">
                            <button class="botao" type="submit">Apagar</button>
                        </form>
                    </div>

                </div>
            </div>

        </section>

        <!-- INGREDIENTES -->
        
            <div class="">
                <div class="title">
                    <h2> Ingredientes </h2>
                </div>

                <div class="ingredientes">
                    <ul>
                        <% receita && receita.ingredientes.forEach(ingrediente=> { %>
                            <li>
                                <%= ingrediente.nome %>
                            </li>
                            <% }) %>
                    </ul>
                </div>

            </div>
        

        <!-- MODO DE PREPARO -->
        <section>
            <div class="title">
                <h2> Modo de preparo </h2>

            </div>
            <div class="prepare_mod">
                <div class="imagem_destaque">
                    <img src="/images/destaque2.jpg" width="100%" height="100%">
                </div>

                <div class="prepare">
                    <p>
                        <%= receita && receita.modo_preparo %>
                    </p>
                </div>
            </div>
        </section>

        <!-- COMENTÁRIOS -->
        <section>
            <div class="comentarios">
                <div class="title">
                    <h2>Escrever comentário</h2>
                </div>
                <br>
                <div class="inputComentario">
                    <form method="post" id="formComentario" action="/receita/comentarReceita">
                        <div>
                            <input type="hidden" name="idReceita" id="idReceita" value="<%= receita && receita.id %>">
                            <textarea name="comentario" id="comentario" cols="100" rows="5"></textarea>
                        </div>
                        <div class="botao-comentar">
                            <button class="botao" id="botaoComentario" type="submit" disabled >Comentar</button>
                        </div>
                    </form>
                </div>
                <div>
                    <div class="title">
                        <h2>Comentários</h2>
                    </div>
                    <br>
                    <div class="coment">
                        <% comentarios.forEach(comentario => { %>
                            <img class="imgComentario" width="60px" src="/uploads/<%= comentario.usuario_comentario.avatar %>" alt="">
                            <b class="nomeComentario"><%= comentario.usuario_comentario.nome%></b>
                            <p class="comentario"><%= comentario.comentario%></p>
                            <hr>
                        <% }) %> 
                    </div>          
                </div>
                
            </div>
        </section>
        </div>
        </div>
        </div>


        <footer class="footer">
            <%- include("./partials/footer") %>
        </footer>
        
        <script src="/scripts/form-comentario.js"></script>
        
</body>
</html>